*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
header{
    background-color: rgba(0, 0, 0, 0.849);
    padding: 10px;
}
.nav-barr{
 display: flex;

}
.nav-bar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
     color: white;
}
.logo{
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: white;
}
.btn{
    display: flex;
     justify-content: space-evenly;
     align-items: center;
}
#text-box{
    height: 27px;
    border-radius: 30px;
    border: 0;
}
#btn-search{
    height: 27px;
    width: 60px;
    border-radius: 30px;
    border: 0;
}
body{
  background-image: url(pic/blackhole-space.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 10px;
}

 #card1{
    border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
    /* padding: 20px; */
    /* display: flex */
    /* box-sizing: border-box; */
    
    
    
}
 #card2{
      border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
    
}
 #card3{
      border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card4{
     border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card5{
     border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card6{
      border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
#card7{
     border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card8{
      border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card9{
    border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
}
 #card10{
    border-radius: 60px;
    width: 300px;
    height: 300px;
    margin: 20px;
    
}

footer{
    background-image: url(photho/123.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#card1:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a
     
}
#card2:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card3:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card4:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card5:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card6:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card7:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card8:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card9:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}
#card10:hover{
    border-radius: 60px;
    width: 320px;
    height: 320px;
    margin: 20px;
    transition: 1s;
    box-shadow: 0px 5px 20px 15px #74726a;
     
}

