*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
header{
    background-color: rgba(0, 0, 0, 0.849);
    padding: 10px;
}
.nav-barr{
 display: flex;

}
.nav-bar-ul {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
     color: white;
}
.logo{
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: white;
}
.btn{
    display: flex;
     justify-content: space-evenly;
     align-items: center;
}
#text-box{
    height: 27px;
    border-radius: 30px;
    border: 0;
}
#btn-search{
    height: 27px;
    width: 60px;
    border-radius: 30px;
    border: 0;
}
body{
  background-color: red;
}

 /* #card1{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    
    
}
 #card2{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    
}
 #card3{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card4{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card5{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card6{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
#card7{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card8{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card9{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card10{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
 #card11{
    border-radius: 100px;
    width: 490px;
    height: 500px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
}
footer{
    background-image: url(photho/123.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#card1:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 1s;
    background-color: rgb(255, 255, 255);
    
} 
#card2:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    
} 
#card3:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition:0.5s;
    background-color: rgb(255, 255, 255);
} 
#card4:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 
#card5:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition:0.5s;
    background-color: rgb(255, 255, 255);
} 
#card6:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition:0.5s;
    background-color: rgb(255, 255, 255);
} 
#card7:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 
#card8:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 
#card9:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 
#card10:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 
#card11:hover{
    border-radius: 100px;
    width: 520px;
    height: 550px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
} 



 */
